*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}


body{
    background-image:url('/images/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.navbar {
    background: #050c1b;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}


.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: 30%;
}


.navbar_item{
    height: 80px;
}


.navbar_links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 6rem;
    height: 100%;
}


.navbar_links:hover{
    color: rgb(255, 255, 255);
    background: #3e59d0;
    border-radius: 4rem;
    margin-bottom: 1.2rem;
    transition: all 0.5s ease-out;
    
}


.navbar_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.adrift-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.studio-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );

    color: white;
}


.adrift-header h1{
    margin: 4rem;
    font-size: 3rem;
    text-align: center;
    
}


.what-is-the-game p{
    font-size: 2rem;
    text-align: center;
    padding: 0 1rem;
    margin: 0 1rem;
}


.sailing-feature {  
    width: 100%;
    margin-top: 4rem;
}


.sailing-feature h1{
    font-size: 3rem;
    text-align: center;
}


.sailing-feature p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 1rem;
}

.sailing-images{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}


.sailing-images img{
    width: 45%;
    height: auto;
}


.navigate-feature{
    width: 100%;
    margin-top: 4rem;
}


.navigate-feature h1{
    font-size: 3rem;
    text-align: center;
}


.navigate-feature p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 1rem;
}


.navigate-images{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}


.navigate-images img{
    width: 45%;
    height: auto;
}


.islands-feature{
    width: 100%;
    margin-top: 4rem;
}


.islands-feature h1{
    font-size: 3rem;
    text-align: center;
}


.islands-feature p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 1rem;
}


.islands-images{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}


.islands-images img{
    width: 45%;
    height: auto;
}


.puzzles-feature{
    width: 100%;
    margin-top: 4rem;
}


.puzzles-feature h1{
    font-size: 3rem;
    text-align: center;
}


.puzzles-feature p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 1rem;
}


.puzzles-images{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}


.puzzles-images img{
    width: 45%;
    height: auto;
}


.journal-feature{
    width: 100%;
    margin-top: 4rem;
}


.journal-feature h1{
    font-size: 3rem;
    text-align: center;
}


.journal-feature p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0 1rem;
}


.journal-images{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}


.journal-images img{
    width: 45%;
    height: auto;
}